.Contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2;
    grid-template-rows: 2;
}
@media screen and (max-width: 800px){

    .Contenedor footer{
        grid-column: 1/6;
        grid-row: 3/4;
    }

    .Contenedor header h1{
        font-size: 6vw;
    }

    .Contenedor header nav ul li{
        min-width: 20vw;
        
    }

    .Contenedor main{
        grid-column: 1/5;
        grid-row: 2/3;
    }

    .Contenedor h2{
        font-size: 4vw;
    }
    
}


@media screen and (max-width: 400px){
    

    .Contenedor{
        min-width: 100%;
    }
    
    .Contenedor main{
        grid-column: 1/6;
        grid-row: 2/3;
    }


    .Contenedor table,
    .Contenedor img,
    .Contenedor ul {
        max-width: 80%;
    }

    

    .Contenedor footer{
        grid-column: 1/6;
        grid-row: 4/5;
    }

    .Contenedor footer a{
        display: block;

    }

    .Contenedor header nav ul li {
        min-width: 18vw;    
    }


    .Contenedor header h1{
        font-size: 5vw;
    }

    .Contenedor h2{
        font-size: 6vw;
       
    }
    
    
    
}





*{
    box-sizing: border-box;
    font-family: "Bunny Honey";
}

header{
    grid-column: 1/6;
    grid-row: 1/2;
}



 main h2{ 
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(248, 10, 216);
    font-size: 50px;
    border-radius: 20px;
    border: solid 3px rgb(248, 10, 216);
}
main{
    width: 100%;
    border-radius: 20px;
    grid-column: 1/6;
    grid-row: 2/3;
}

footer{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;  
}

main img{
    width: 24%;
    margin: auto;
}



section{
    background-color: rgb(253, 201, 240);
    border-radius: 20px;
    margin-bottom: 5px;
}

 main h3 {
    text-align: center;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(248, 10, 216);
    border-radius: 20px;
    border: solid 3px rgb(248, 10, 216);
}

table{
    margin: auto;
    background-color: white;
    border-radius: 20px;
}

table th{
    border: rgb(248, 10, 216) solid 3px;
    border-radius: 20px;
    
}

table tr{

    border: rgb(248, 10, 216) solid 3px;
    border-radius: 20px;
    
}

table td{
    border: rgb(248, 10, 216) solid 3px;
    border-radius: 20px;
    text-align: center;
}
