
footer{
    background-color: pink;
    color: rgb(248, 10, 216);
    text-align: center;
    width: 100%;
    float: left;
    font-family: "Bunny Honey";
}

footer h2{
    font-size: 25px;
    border-bottom: rgb(248, 10, 216) solid 2px;
    border-top: rgb(248, 10, 216) solid 2px;
}

footer h3{
    display: inline-block;
}

footer i{
    size: 7px;
    margin: 3px;
}
