
footer{
    background-image: url("../IMGS/pie-4091990_1280.png");
    background-repeat: repeat;
    color: rgb(248, 10, 216);
    text-align: center;
    width: 100%;
    float: left;
    font-family: "Bunny Honey";
    margin-top: 5px;
    
}

footer h2{
    font-size: 25px;
    border-bottom: rgb(248, 10, 216) solid 2px;
    border-top: rgb(248, 10, 216) solid 2px;
}



.red {
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    border: solid 3px rgb(248, 10, 216);
}

footer i{
    size: 7px;
    margin: 3px;
    background-color: white;
}


footer > a{
    color: purple;
}

footer > a :hover{
    color: blue;
}