body{
    background-color: white;
    background-repeat: repeat;
    font-family: "Bunny Honey";
}


main{
    width: 70%;
    background-image: url("../IMGS/Helado.png");
    justify-items: center;
    align-items: center;
    margin: 5px;
    text-align: center;
    float: left;
    border-radius: 20px;
    border: dashed  3px rgb(248, 10, 216);
}


#R1{
    background-color: rgb(255, 132, 255);
    border: 6px dotted rgb(253, 248, 252);
    color: white;
    font-size: 25px;
    width: 90%;
    padding: 3px;
    box-sizing: border-box;
    justify-items: center;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px;
}

#R1 img{
    width: 100%;
    margin: auto;
}

#R1 h3{
    text-align: center;
    background-color:rgb(247, 105, 223);
    margin: none;
    margin: 0px;
    padding-top: 3px;
}

#R1 i{
    color: white;
    font-size: 15px;
    text-align: right;
    margin: 0px;
    background-color: rgb(247, 105, 223);
    display: none;
}

#R1 p{
    display: none;
    font-size: 15px;
    text-align: left;
}


#R2{
    background-color: rgb(255, 132, 255);
    border: 6px dotted rgb(253, 248, 252);
    color: white;
    font-size: 25px;
    width: 40%;
    padding: 3px;
    box-sizing: border-box;
    margin: 5px;
    display: inline-table;
    
}

#R2 img{
    width: 100%;
    margin: auto;
}

#R2 h3{
    text-align: center;
    background-color:rgb(247, 105, 223);
    margin: none;
    margin: 0px;
    padding-top: 3px;
}

#R2 i{
    color: white;
    font-size: 15px;
    text-align: right;
    margin: 0px;
    background-color: rgb(247, 105, 223);
    display: none;
}

#R2 p{
    display: none;
    font-size: 15px;
    text-align: left;
}



#R3{
    background-color: rgb(255, 132, 255);
    border: 6px dotted rgb(253, 248, 252);
    color: white;
    font-size: 25px;
    width: 40%;
    padding: 3px;
    box-sizing: border-box;
    justify-items: right;
    margin: 5px;
    display: inline-table;
}

#R3 img{
    width: 100%;
    margin: auto;
}

#R3 h3{
    text-align: center;
    background-color:rgb(247, 105, 223);
    margin: none;
    margin: 0px;
    padding-top: 3px;
}

#R3 i{
    color: white;
    font-size: 15px;
    text-align: right;
    margin: auto;
    background-color: rgb(247, 105, 223);
    display: none;
}

#R3 p{
    display: none;
    font-size: 15px;
    text-align: left;
}



aside{
    background-color: thistle;
    background-repeat: repeat;
    color: white;
    width: 25%;
    margin: 0px;
    float: right;
    border-radius: 20px;
    background-image: url("../IMGS/Fondito.jpg");
    color: rgb(248, 10, 216);
    border: rgb(248, 10, 216) dashed 3px;

}

aside h2{
    font-size: 30px;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
    background-color: rgb(253, 201, 240);
    margin-bottom: 3px;
}

form{
    background-color: rgb(253, 201, 240);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 5px;
}

form input{
    border: rgb(248, 10, 216) 2px solid;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px;
    width:200px;
    font-family: "Bunny Honey";
}

form label{
    margin: 10px;
}


.submit{
    box-shadow: 2px 2px 1px black;
    background: linear-gradient(to bottom, #ffe8d4 #cf059d);
    border-radius: 20px;
    margin: 5px;
    width: 100px;
    border: outset 3px rgb(248, 10, 216);
    color: white;
}



table{
    background-color: rgb(253, 201, 240);
    border: rgb(248, 10, 216) solid 3px;
    margin: auto;
    margin-bottom: 5px; 
    width: 100px; 
}

table th{
    border: rgb(248, 10, 216) solid 3px;
}


table td{
    border: rgb(248, 10, 216) solid 3px;
}

table td iframe{
    width: 140px;
    margin: auto;
}

.Mapa{
    margin: auto;
}

.ListCon ol{
    background-color: rgb(253, 201, 240);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 3px;
}

.Ads a img{
    display: block;
    margin: auto;
    margin-bottom: 3px;
    border-radius: 20px;
}

aside iframe{
    display: block;
    margin: auto;
}
