header{
    background-image: url("../IMGS/Fondito.jpg");
    font-family: "Bunny Honey";
    color: rgb(248, 10, 216);
    border-radius: 20px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: "Bunny Honey";
    color: rgb(248, 10, 216);
}


nav ul li{
    display: block;
    align-items: center;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: pink;
}

nav ul li{
    display: inline-block;
    text-align: center;
    border-radius: 20px;
}


#Inicio{
    width: 100px;


}

#Recetas{
    width: 100px;

    
}

#About{
    width: 150px;

}



